extends layout

block content
  h2 備品追加
  form(method="post" action="/items")
    div
      h5 備品名：
        span(style="color:red;") 入力必須です
      input(type="text" name="name" required)
    div
      h5 コメント
      input(type="text" name="comment")
    input(type="hidden" name="_csrf" value!=csrfToken)
    input(type="hidden" name="userId" value=userId)
    div
      button(type="submit") 追加する
