body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.err {
  color: red;
}

.reserveTable {
  border-collapse: collapse;
  /* border: 1px black solid; */
  table-layout: fixed;
  width: 100%;
}

.reserveTableHeader {
  border-collapse: collapse;
  text-align: center;
  font-size: 13px;
  color: gray;
  width: 60px;
  height: auto;
}

.reserveTableBoxFirst {
  border-collapse: collapse;
  border: 1px black solid;
  border-right: 1px black dotted;
  height: 50px;
}

.reserveTableBoxInter {
  border-collapse: collapse;
  border: 1px black solid;
  border-left: 1px black dotted;
  border-right: 1px black dotted;
}

.reserveTableBoxLast {
  border-collapse: collapse;
  border: 1px black solid;
  border-left: 1px black dotted;
}

.tableLegend {
  width: 15px;
  height: 15px;
}

.tableLegendName {
  margin-right: 200px;
}